.nav {
  color: rgba(253, 195, 0, 0.8);
  background :rgba(66, 83, 99, 0.8);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.selected {
  color: #425363;
  background :rgba(253, 195, 0, 0.8);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}